* {
    box-sizing: border-box;
}

body {

  background-image: url("assets/bg.png");
  background-color: white;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px
}

#canvas{
width:100%;
height:100%;
overflow-y: scroll;
}

#titleBar{
border-bottom: 2px solid white;
float:left;
width: 100%;
margin: 0px;
background-color: black;
position:relative;


}

#logo{

  width:100%;
  height:100%;
  display: inline;
  position: absolute;


}

#imgBin{
  width: 14%;
  height: 100%;
  display: inline;
  position: absolute;
  background-color: blue;

}

#about{
  float:right;
  height: inherit;
  border-left: 2px solid white;
  /* border-bottom: 2px solid white; */
  width: 12%;
  background-color: black;
  display:inline;

}

#aboutText{

  background-color: inherit;
  padding: 4%;
  color: white;
  text-align: center;
  font-size: 12px;
  letter-spacing: 2px;
  font-family: monospace;

}

p{
  background-color: inherit;
}
/*
