* {
    /* box-sizing: border-box; */

}

body {
  background-image: url("../assets/waves.gif");
  background-position: center;
  background-size: 1600px 1600px;
  margin-top: 0px;
  margin-right: 150px;
  margin-bottom: 150px;
  margin-left: 0px
}

#textBox{

background-color: rgba(0, 0, 0, 0.4);
width: 80%;
height: 60%;
border: white solid 1px;
padding: 5%;
margin-left: 12%;
margin-top: 14%;


}

p{
  color: white;
  text-align: center;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 2;
  background-color: (0, 0, 0, 50);
  font-family: verdana;
  display: inline;
}

nav {
    background-color: rgb(255, 225, 27);
    color: black;
    width: 130px;
    margin-left: 5%;
    margin-top: -11%;
    display:block;
    float:left;
    font-family: helvetica;
    letter-spacing: 7px;
    font-weight: bold;
    font-style: oblique;
    font-size: 14px



}

nav ul{

    list-style-type: none;
    color: white;
    padding:0px;
    left: 0px;
    top: 0px;


}

nav a{

    text-decoration: none;
    color: black;
    background-color: ;
    display: block;
    padding: 5px;
      text-align:center;
}


nav:hover{

    background-color: transparent;
    color: black;

}
